body{
    width:900px;
    font-family: sans-serif;
    
    padding:50px;
}

h1{
    position:fixed;
    top:0px;
    left:50px
    background-color:azure;
    z-index:50;
}

.intro{
    width:150px;
    float:left;
    margin:10px;
    padding:5px;
    background-color: #efefef;
    text-align: center;
    
}

h2{
   color:coral;
    
}